META-INF
path.xml
work.xml
host.json
local.json

.DS_Store
.vscode
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.idea
.env

temp
vendor
node_modules

data/storage/*/*

public/assets/*
!public/assets/static

composer.phar

*.*~
*.bak
*.old
*.env
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
*.host.json
*.local.json
